/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Stellar';
  src: url('./assets/fonts/Stellar-Bold.otf') format("opentype");
  src: url('./assets/fonts/Stellar-light.otf') format("opentype");
  src: url('./assets/fonts/Stellar-Regular.otf') format("opentype");
  src: url('./assets/fonts/Stellar-Medium.otf') format("opentype");
}

body {
  background-image: url('./assets/planet-cartoon-space-background.jpeg '); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Stellar';
}



.user-star {
  max-width: 3rem;
}

.user-achievements {
  max-width: 3rem;
  background-color: #28a745
}

