/* You can add global styles to this file, and also import other style files */


body {
  background-image: url('./assets/planet-cartoon-space-background.jpeg '); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(197, 236, 197);
}

#header {
  display: flex;
  justify-content: space-between;
}