<!--The content below is only a placeholder and can be replaced.-->
<div id="app" class="text-light h-100"> 

  <div id="header"> 

    <div *ngIf=hostUsername>
      {{ hostUsername }} wants to dance! 
      <button class="btn btn-success" (click)=acceptInvite()>lets do this</button>
    </div>
    <div *ngIf=inviteeUsername>
      waiting for {{ inviteeUsername }}...
    </div>
  </div>
  
  <div class="d-flex justify-content-between">
    <app-toolbar 
      [username]=username 
      [changeInvitee]=changeInvitee 
      [changeVideoID]=changeVideoID
      [changeSkinName]=changeSkinName
    ></app-toolbar>


    <app-dance-floor id="dance-floor"
      [username]=username 
      [hasJoined]=hasJoined  
      [customize]=customize
      [danceBuddies]=danceBuddies
      [skinName]=skinName
    ></app-dance-floor>

    <div id="rightbar" class="d-flex flex-column p-3">
      <!-- <div *ngIf="gotStar">
        <img src="../../assets/star6.png" alt="">
      </div> -->
      <h4 class="text-light">
        {{ username }} 
        <img src="../assets/star.png" class="user-star" />
        {{ userStars }}
      </h4> 
      <app-audio [videoID]=videoID></app-audio>
      <app-stars
      [danceBuddies]=danceBuddies
      [showSuccess]=showSuccess
      [username]=username
      [gotStar]=gotStar
      [recievedStar]=recievedStar
      ></app-stars>

      <!-- <app-login></app-login> -->
  </div>

  
  
  </div>

</div>



