<!--The content below is only a placeholder and can be replaced.-->
<div id="app"> 
  <div id="header"> 
    <h1 id="title">{{ title }}</h1>
    <div *ngIf=hostUsername>
      {{ hostUsername }} wants to dance! 
      <button (click)=acceptInvite()>lets do this</button>
    </div>
    <div *ngIf=inviteeUsername>
      waiting for {{ inviteeUsername }}...
    </div>
    <h3>{{ username }}</h3>
  </div>
  <app-dance-floor 
    [username]=username 
    [friendUsername]=friendUsername
    [customize]=customize
    [danceBuddies]=danceBuddies
   
  ></app-dance-floor>
  <div id="rightbar">
    <app-audio></app-audio>
    <app-friends 
    [changeInvitee]=changeInvitee 
    [username]=username 
    [danceBuddies]=danceBuddies
    [allUsers]=allUsers
    [sendFriendRequest]=sendFriendRequest
    [allRequests]=allRequests
    [showFriendRequests]=showFriendRequests
    [showRequests]=showRequests
    [acceptFriendRequest]=acceptFriendRequest
    [friends]=friends
    [showFriends]=showFriends
    [showNewFriends]=showNewFriends
  ></app-friends>
  </div>

</div>



