<!--The content below is only a placeholder and can be replaced.-->
<div id="app" class="text-light "> 

  <div id="header"> 
    <div *ngIf=hostUsername>
      {{ hostUsername }} wants to dance! 
      <button class="btn btn-success" (click)=acceptInvite()>lets do this</button>
    </div>
    <div *ngIf=inviteeUsername>
      waiting for {{ inviteeUsername }}...
    </div>
  </div>
  
  <div class="d-flex justify-content-between">
    <app-toolbar 
      [username]=username 
      [changeInvitee]=changeInvitee 
      [changeVideoID]=changeVideoID
    ></app-toolbar>

    <!-- <app-friends 
      [danceBuddies]=danceBuddies
      [allUsers]=allUsers
      [sendFriendRequest]=sendFriendRequest
      [allRequests]=allRequests
      [showFriendRequests]=showFriendRequests
      [showRequests]=showRequests
      [acceptFriendRequest]=acceptFriendRequest
      [friends]=friends
      [showFriends]=showFriends
      [showNewFriends]=showNewFriends
      [findFriends]=findFriends
    ></app-friends> -->

    <app-dance-floor 
      [username]=username 
      [friendUsername]=friendUsername  
      [customize]=customize
      [danceBuddies]=danceBuddies
    ></app-dance-floor>

    <div id="rightbar" class="d-flex flex-column p-3">
      <h4 class="text-light">{{ username }}</h4>
      <app-audio [videoID]=videoID></app-audio>

     
  </div>

  
  
  </div>

</div>



