#app-dance-floor {
  /* display:flex;
  justify-content: flex-center; */
}

#webcam {
  opacity: 0.4;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  z-index: -1;
  margin-top: -112px;
  filter: blur(10px);
  display:none;
}

#dancer {
  position: absolute;
  border: 1px rgba(211, 211, 211, 0.486) solid;
}