<div class="d-flex flex-row-reverse text-nowrap" id="toolbar">

  <!-- SLIDE OUT  -->  

  <div id="slide-out" *ngIf="isOpen" [@slideInOut] class="h-100 text-light h-100 d-flex flex-column p-5 w-20" >
     <h3 class="text-success">Dark Matter Disco</h3>

     <div [ngSwitch]="whichToolbar" class="h-100">
        <!-- <ng-template >...</ng-template> -->
        <app-friends [hostUsername]=hostUsername [username]=username [changeInvitee]=changeInvitee *ngSwitchCase="'friends'"
        ></app-friends>
        <app-chat [username]=username [skinName]=skinName [convos]=convos *ngSwitchCase="'chat'" ></app-chat>
        <app-audio-controls *ngSwitchCase="'music'" [changeVideoID]=changeVideoID></app-audio-controls>
        <app-settings [userStars]=userStars [changeSkinName]="changeSkinName" *ngSwitchCase="'settings'"></app-settings>
        <!-- <ng-template ngSwitchCase="case2LiteralString">...</ng-template>
        <ng-template ngSwitchDefault>...</ng-template> -->
    </div>


  </div>

  <!-- ICON BAR -->
  <div class="bg-success h-100 d-flex flex-column p-2 shadow-lg">
      <button (click)="isOpen = false" class="btn btn-success mb-5 mt-2">
        <img src="../../assets/dark-matter-disco-logo.png" class="icon"/>
      </button>
    <button (click)="iconClick('friends')" class="btn btn-success mt-5">
      <img src="../../assets/icon-friends.png" class="icon"/>
    </button>
    <button (click)="iconClick('chat')" class="btn btn-success mt-5" >
      <img src="../../assets/icon-chat.png" class="icon"/>
    </button>
    <button (click)="iconClick('music')" class="btn btn-success mt-5">
      <img src="../../assets/icon-play.png" class="icon"/>
    </button>
    <button (click)="iconClick('settings')" class="btn btn-success mt-5">
      <img src="../../assets/icon-gears.png" class="icon"/>
    </button>
  
  </div>
</div>

