<div class="d-flex flex-row-reverse text-nowrap" id="toolbar">

  <!-- SLIDE OUT  -->  

  <div id="slide-out" *ngIf="isOpen" [@slideInOut] class="text-dark bg-white h-100 d-flex flex-column p-4 w-20" >
     <h3 class="text-success">Dark Matter Disco</h3>

     <div [ngSwitch]="whichToolbar">
        <!-- <ng-template >...</ng-template> -->
        <app-friends [username]=username [changeInvitee]=changeInvitee *ngSwitchCase="'friends'"
        ></app-friends>
        <app-chat [username]=username [convos]=convos *ngSwitchCase="'chat'"></app-chat>
        <app-audio-controls *ngSwitchCase="'music'" [changeVideoID]=changeVideoID></app-audio-controls>
        <app-settings [changeSkinName]="changeSkinName" *ngSwitchCase="'settings'"></app-settings>
        <!-- <ng-template ngSwitchCase="case2LiteralString">...</ng-template>
        <ng-template ngSwitchDefault>...</ng-template> -->
    </div>


  </div>

  <!-- ICON BAR -->
  <div class="bg-success h-100 d-flex flex-column p-2 shadow-lg">
    <p>
      logo
    </p>
    <button (click)="iconClick('friends')" class="btn btn-success">Friends</button>
    <button (click)="iconClick('chat')" class="btn btn-success">Chat</button>
    <button (click)="iconClick('music')" class="btn btn-success">Music</button>
    <button (click)="iconClick('settings')" class="btn btn-success">Settings</button>
  
  </div>
</div>

