<h1>Settings</h1>

<h2>Change Skin</h2>
<button (click)="changeSkinName('panda')" class="btn btn-success">Panda</button>
<button (click)="changeSkinName('stick man')" class="btn btn-success">Stick Man</button>


<div>
  <h2>Backgrounds</h2>
  <div>
    <button (click)=changeBackground($event.target.outerText)>Space</button>
  </div>
  <div>
    <button (click)=changeBackground($event.target.outerText)>Ranch</button>
  </div>
  <div>
    <button (click)=changeBackground($event.target.outerText)>Pineapple</button>
  </div>
</div>
