<!-- <h1 class="mt-4">Settings</h1> -->

<div class="d-flex flex-column justify-content-around h-100">
  <div>
    <h2>Character</h2>

    <div class="text-center">
      <input [(colorPicker)]="color" type="button" value="pick color" [style.background]="color" (colorPickerChange)="changeSkinName(color)" class=" m-2 btn btn-dark"/>
    </div>
    
    <div class="d-flex flex-row">
      <button (click)="changeSkinName('panda')" class="btn btn-dark btn-sm m-2">
        <img src="../../../assets/pandahead.png" class="skin-button "/>
      </button>
      <button (click)="changeSkinName('robot')" class="btn btn-dark m-2">
        <img src="../../../assets/skins/robot-head.png" class="skin-button"/>
      </button>
    </div>
  </div>
  
  
  <div class="pb-5">
    <h2>Background</h2>
    <div class="d-flex flex-column ">
      <button (click)=changeBackground($event.target.outerText) class="btn btn-success space m-2 background-thumb">Space</button>
      <button (click)=changeBackground($event.target.outerText) class="btn btn-success ranch m-2 background-thumb">Ranch</button>
      <button (click)=changeBackground($event.target.outerText) class="btn btn-success pineapple m-2 background-thumb" [disabled]="userStars < 50">Pineapple</button>
      <button (click)=changeBackground($event.target.outerText) class="btn btn-success beach m-2 background-thumb" [disabled]="userStars < 100">Beach</button>
    </div>
  </div>


</div>
